<div class="contenedor">
    <header>
      <h1>Mi lista de tareas</h1>
      <input type="text" [(ngModel)]="tarea.descripcion" >
      <br>
      <button (click)="agregarTarea()" >Agregar tarea</button>
    </header>
    <section *ngIf="listaTareas.length == 0" >
      <div class="sinTareas"> No hay tareas agregadas por favor inserta una...</div>
    </section>
    <section *ngIf="listaTareas.length != 0">
      <ul>
        <li *ngFor="let item of listaTareas; index as i ">
          <div class="descripcion">
            <p class="tarea" *ngIf="item.estado == 'Pendiente'" > {{i + 1}}-{{item.descripcion}} </p>
            <p class="tareaTerminada" *ngIf="item.estado == 'Terminado'" > {{i + 1}}-{{item.descripcion}} </p>
          </div>
          <div class="acciones">
            <button (click)="eliminarTarea(i)" >Eliminar</button>
            <button (click)="terminarTarea(i)">Terminado</button>
          </div>
        </li>
      </ul>
    </section>


</div>
